<div class="home__container">
  <app-card gameLabel="Grátis" gameType="PS4" gamePrice="236,90" gameCover="assets/bt-5.jpg"></app-card>
  <app-card gameLabel="Lançamento" gameType="PS4" gamePrice="236,90" gameCover="assets/bt-4.jpg"></app-card>
  <app-card gameLabel="Grátis" gameType="PS4" gamePrice="236,90" gameCover="assets/bt-1.jpg"></app-card>
  <app-card gameLabel="Grátis" gameType="PS4" gamePrice="236,90" gameCover="assets/bt-hardline.jpg"></app-card>
  <app-card gameLabel="Grátis" gameType="PS4" gamePrice="236,90" gameCover="assets/ac-cover.jpg"></app-card>
  <app-card gameLabel="Grátis" gameType="PS4" gamePrice="236,90" gameCover="assets/bt-bad-company-2.jpg"></app-card>
</div>
